@import "social";
@import "mixins";

//media query
@media only screen and (min-width: 993px) {
  nav {
    .container {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }

    a {
      &.button-collapse {
        display: block;
      }
    }

    .brand-logo {
      position: relative;
    }
  }
}

.btn:not(.waves-light) {
  background-color: #FFFFFF;
  color: #212121;
}

img {
  width: 100%;
}
.title {
  font-size: 2.56rem;
  line-height: normal;
  padding: 10px;
  .material-icons{
    margin-right: 10px;
  }
}
.card{
  .card-content{
    .card-title{
      font-size: 20px;
      line-height: 22px;
    }
  }
}
.row.white{
  margin-top:-22px;
  margin-bottom: 0;
  clear: both;
}

main {
  .row.white {
  }
}
footer{
  bottom:0px;
  margin:0px;
}

aside#slide-out{
  display: block;
  overflow-y: scroll;
  small{
    text-align: center;
  }
}
main{
  max-width: 95%;
  margin: 0 auto;
}
.video_list{
  border:1px solid #e3e3e3;
  margin:2px 0px;
}
.video_list:after{
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
}

footer{
  @include footer;
}
.social{
  @include social;
}
.slider{
  @include slider;
}